__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/
*.wheel

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

__pypackages__/

*.env

.mypy_cache/

.env
__pycache__/
.poetry/
